<p id="notice"><%= notice %></p>

<h1>Obligatory Your Mom Joke</h1>

<table border="1">
  <thead>
    <tr>
      <th>Player Name</th>
      <th>Current Frame</th>
      <th>Attempt</th>
      <th>Score</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @games.each do |game| %>
      <tr>
        <td><%= if game.name == nil
                   "-"
                else
                   game.name
                end %></td>
        <td><%= if game.index == -1
                  "Game Over"
                else
                  game.index / 2 + 1
	        end %></td>
	<td><%= if game.index == -1
                  "-"
                else
                  game.index % 2
                end %></td>
        <td><%= game.score %></td>
        <td><%= link_to 'Show', game %></td>
        <td><%= link_to 'Edit', edit_game_path(game) %></td>
        <td><%= link_to 'Destroy', game, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Game', new_game_path %>
