<p id="notice"><%= notice %></p>

<h1>Obligatory Your Mom Joke</h1>

<table>
  <thead>
    <tr>
      <th>Player Name</th>
      <th>Current Frame</th>
      <th>Attempt</th>
      <th>Score</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @games.each do |game| %>
      <tr>
        <td><%= if game.name == nil
                   "-"
                else
                   game.name
                end %></td>
        <td><%=# if game.frameIndex == -1
               #   "Game Over"
               # else
               #   game.current_frame % 2 + 1
	       # end
	        game.frame %></td>
	<td></td>
        <td><%= game.score %></td>
        <td><%= link_to 'Show', game %></td>
        <td><%= link_to 'Edit', edit_game_path(game) %></td>
        <td><%= link_to 'Destroy', game, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Game', new_game_path %>
